---
import LangSwitcher from "../LangSwitcher.astro";
---

<footer class="footer">
  <div id="footer-content" class="padding-global">
    <div class="container-large">
      <div class="spacer-large"></div>
      <div class="footer-top-wrapper">
        <div class="footer-left-wrapper">
          <div class="footer-left-wrapper-upper">
            <a href="/ko/" class="nav_brand footer w-nav-brand">
              <div>영국 Law</div>
            </a>
            <div class="footer-text">
              영국법을 공부하는 한국인들을 위한 무료 리소스
            </div>
          </div>
          <LangSwitcher lang="ko" />
        </div>
        <div
          id="w-node-_1606639c-fc25-6d54-b52a-052fb72e19a9-b72e199a"
          class="footer-menu-container"
        >
          <div class="footer-menu-list">
            <div class="footer-menu-header">과목별 노트</div>
            <a href="/ko/contract-law/" class="footer-menu ko">계약법</a>
            <a href="/ko/tort-law/" class="footer-menu ko">불법행위법</a>
            <a href="/ko/public-law/" class="footer-menu ko">공법</a>
            <a href="/ko/criminal-law/" class="footer-menu ko">형사법</a>
            <a href="/ko/equity-law/" class="footer-menu ko">형평법</a>
            <a href="/ko/land-law/" class="footer-menu ko">토지법</a>
          </div>
          <div class="footer-menu-list">
            <div class="footer-menu-header">판례</div>
            <a href="/ko/case-law/" class="footer-menu ko">모든 판례</a>
            <a href="/ko/contract-law-cases/" class="footer-menu ko"
              >계약법 판례</a
            >
            <a href="/ko/tort-law-cases/" class="footer-menu ko"
              >불법행위법 판례</a
            >
            <a href="/ko/public-law-cases/" class="footer-menu ko">공법 판례</a>
            <a href="/ko/criminal-law-cases/" class="footer-menu ko"
              >형사법 판례</a
            >
            <a href="/ko/equity-law-cases/" class="footer-menu ko"
              >형평법 판례</a
            >
            <a href="/ko/land-law-cases/" class="footer-menu ko">토지법 판례</a>
          </div>
        </div>
      </div>
      <div class="footer-hr"></div>
      <div class="footer-bottom">
        <div class="footer-copyright ko">
          © 2024–2026 <a href="https://YoungkukLaw.com/ko/" class="footer-link"
            >YoungkukLaw.com/ko</a
          > All rights reserved.
        </div>
        <div class="footer-bottom-menu-list">
          <a href="#" class="footer-bottom-menu ko">이용약관</a>
          <a href="#" class="footer-bottom-menu ko">개인정보처리방침</a>
          <a href="#" class="footer-bottom-menu ko">쿠키 안내</a>
          <a href="#" class="footer-bottom-menu ko">쿠키 설정</a>
        </div>
      </div>
      <div class="spacer-large"></div>
    </div>
  </div>
</footer>
