---
import LangSwitcher from '../LangSwitcher.astro';
---
<footer class="footer">
  <div id="footer-content" class="padding-global">
    <div class="container-large">
      <div class="spacer-large"></div>
      <div class="footer-top-wrapper">
        <div class="footer-left-wrapper">
          <div class="footer-left-wrapper-upper">
            <a href="/" class="nav_brand footer w-nav-brand">
              <div style="display: flex; align-items: center; gap: 8px;">
                <img src="/images/youngkuklaw-logo-dark-260623.png" alt="YoungkukLaw Logo" style="width: 40px; height: 40px; object-fit: contain;" />
                <div>YoungkukLaw</div>
              </div>
            </a>
            <div class="footer-text">Study English Law — Clear Notes, Real Cases, Free.</div>
          </div>
          <LangSwitcher lang="en" />
        </div>
        <div id="w-node-_3570259b-feda-7499-4dd0-2427b4ddfb0f-b4ddfb04" class="footer-menu-container">
          <div class="footer-menu-list">
            <div class="footer-menu-header">Subjects</div>
            <a href="/contract-law/" class="footer-menu">Contract</a>
            <a href="/tort-law/" class="footer-menu">Tort</a>
            <a href="/public-law/" class="footer-menu">Public</a>
            <a href="/criminal-law/" class="footer-menu">Criminal</a>
            <a href="/equity-law/" class="footer-menu">Equity</a>
            <a href="/land-law/" class="footer-menu">Land</a>
          </div>
          <div class="footer-menu-list">
            <div class="footer-menu-header">Cases</div>
            <a href="/case-law/" class="footer-menu">All Cases</a>
            <a href="/contract-law-cases/" class="footer-menu">Contract</a>
            <a href="/tort-law-cases/" class="footer-menu">Tort</a>
            <a href="/public-law-cases/" class="footer-menu">Public</a>
            <a href="/criminal-law-cases/" class="footer-menu">Criminal</a>
            <a href="/equity-law-cases/" class="footer-menu">Equity</a>
            <a href="/land-law-cases/" class="footer-menu">Land</a>
          </div>
        </div>
      </div>
      <div class="footer-hr"></div>
      <div class="footer-bottom">
        <div class="footer-copyright">
          © 2024–2026 <a href="https://YoungkukLaw.com/" class="footer-link">YoungkukLaw.com</a> All rights reserved.
        </div>
        <div class="footer-bottom-menu-list">
          <a href="/terms-of-use/" class="footer-bottom-menu">Terms of Use</a>
          <a href="/privacy-policy/" class="footer-bottom-menu">Privacy Policy</a>
        </div>
      </div>
      <div class="spacer-large"></div>
    </div>
  </div>
</footer>
